.blue-text{
  color: blue;
  font-family: calibri;
  font-size: 30px;
  font-weight: 3000;
}
.paragraph-text{
  font-family: calibri;
  font-size: 16px;
  color: black;
  font-weight: 15;
}
.gray-background{
  background-color: green;
}
.header-text{
  font-size: 20px;
  font-family: calibri;
  color: black;
  font-weight: bold;
  text-decoration: underline;
}
.bold-text{
  color: black;
  font-weight: bold;
  font-family: calibri;
  font-size: 18px;
  text-decoration: underline;
}
.background-color{
  background-color: gray;
}
